.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.primaryButton {
  padding: 15px 30px;
  cursor: pointer;
  background-color: rgba(0, 118, 255, 0.9);
  border: 1px solid rgba(0, 118, 255, 0.9);
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 17px;
}

.boxCenter {
  margin: 0 auto;
  text-align: center;
}
